/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    vertical-align: middle;
}
body{
    font-family: Tahoma,sans-serif;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6,
.cust-font{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.main-nav_a{
    
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
padding: 2px 8px 3px;
display: inline-block;
text-decoration: none;
}
.main-nav_a:hover {
    background-color: #31a6b2;
}

.main-nav_li{
margin-bottom: 5px;
}
.logo{
    margin-bottom: 40px;
    display: inline-block;
}
/*struktura*/
.container{
    width: 1144px;
    margin: 0 auto;
    overflow: hidden;
}
.container--topspace{
    margin-top: 50px;
}
.main-hdr{
    float: left;
    width: 132px;
}
.main-content{
    float: right;
    width: 992px;
}
.boxes{
    margin-right: -20px;
    overflow: hidden;
}
.box{
    float: left;
    width: 233px;
    height: 241px;
    background-color: #262626;
    margin: 0 20px 20px 0;
    position: relative;
}
.box:hover .boxlabel{
    opacity: 0.3;
}
.box-h{
    width: 486px;
}
.box-v{
    height: 502px;
}
.tytul {
    background-color: slategrey;
    height: 27px;
    width: fit-content;
    margin-top: 24px;
    margin-left: 0px;
    
}
h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    margin-left: 14px;
    margin-right: 28px;
    line-height: 27px;
}
h3 {
    margin: 13px 48px 0px 15px;
}
p.tekstkafelek {
    margin: 15px 15px 0px 15px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.36;
    opacity: 88%;
}
.boxlabel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(38, 38, 38, 0.81);
    height: 41px;
    opacity: 81;
}
.boxlabel-hdr {
    padding: 7px 0px 8px 13px;
    color: #31A6B2;
    font-size: 18px;
    line-height: 41px;
}
.boxlabel-hdr1 {
    font-size: 18px;
    padding: 7px 0px 8px 0px;
    line-height: 41px;
    color: white;
}
.boxlabel-hdr:after{
    content: "|";
    display: inline-block;
    margin-left: 7px;
    margin-left: 5px;
}
.foota {
    display: inline-block;
    margin-right: 15px;
    font-size: 11px;
}

.comm{
    position: fixed;
    top: 80px;
    right: -300px;
    background-color: #578992;
    height: 400px;
    width: 300px;
}
.comm.open{
    right: 0;
    
}
.commbtn{
    position: absolute;
    left: -38px;
    width: 38px;
    height: 180px;
    background-color: #578992;
    border: 0;
    cursor: pointer;
}
.commico{
    width: 26px;
    height: 20px;
    background-color: black;
    left: 0px;
    display: block;
    border-radius: 4px; 
}
.commico:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 76px;
    left: 6px;
    border-width: 20px 20px 0 0;
    border-style: solid;
    border-color: black transparent;
    width: 0;
}